<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true" use-expressions="true">

		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/manager**"
			access="hasRole('ROLE_MANAGER') or hasRole('ADMIN')" />
		<intercept-url pattern="/manager/**"
			access="hasRole('ROLE_MANAGER') or hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/user**"
			access="hasRole('ROLE_USER') or hasRole('ROLE_MANAGER') or hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/user/**"
			access="hasRole('ROLE_USER') or hasRole('ROLE_MANAGER') or hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/guest**" access="hasRole('permitAll')" />

		<!-- access denied page -->
		<access-denied-handler error-page="/403" />

		<form-login login-page="/login" 
			username-parameter="username"
			password-parameter="password" 
			authentication-failure-handler-ref="customizeRedirectFailedHandler"
			authentication-success-handler-ref="customizeRedirectSuccessHandler" />

		<logout logout-success-url="/login?logout" delete-cookies="JSESSIONID" />
		<csrf />

		<remember-me token-validity-seconds="1234569879"
			remember-me-parameter="remember-me" />

	</http>

	<beans:bean id="customizeRedirectSuccessHandler"
		class="com.framgia.security.CustomUrlAuthenticationSuccessHandler" />

	<beans:bean id="customizeRedirectFailedHandler"
		class="com.framgia.security.CustomUrlAuthenticationFailedHandler" />

	<beans:bean id="userLoginService" class="com.framgia.security.CustomUserDetailsService" />

	<authentication-manager>
		<authentication-provider user-service-ref="userLoginService">
			<password-encoder ref="encoder"></password-encoder>
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean id="encoder"
          class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <beans:constructor-arg name="strength" value="11"/>
    </beans:bean>

	<beans:import resource="spring-service.xml" />
</beans:beans>